.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 164px;
  color: #333333;
  background-color: rgba(51, 51, 51, 0.2);
  /* background: rgba(255, 255, 255, 0.1); */
  z-index: 5;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.7);
}

.header__logo {
  width: 48px;
  transition: opacity 0.15s ease;
  margin-right: 76px;
  filter: drop-shadow(-8px 0px 0px rgba(51, 51, 51, 0.8));
}

/* .header__logo {
  font-size: 18px;
  font-family: "Italianno", cursive;
  text-decoration: none;
  color: #fff;
  color: #333;
  font-size: 40px;
  transition: opacity 0.15s ease;
} */

.header__logo:hover {
  opacity: 0.6;
}

.header__nav {
  display: flex;
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.header__nav-item {
  margin-right: 42px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}

.header__link {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.15s ease;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
}

.header__link:hover {
  opacity: 0.6;
}

.header__button {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 56px;
  background: #fff;
  color: #9e9e9e;
  border: 2px solid #9e9e9e;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: color 0.15s ease, border 0.15s ease;
}

.header__button:hover {
  color: #b8b8b8;
  border: 2px solid #b8b8b8;
}

.header__hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 8px 42px;
  }

  .header__logo {
    margin-right: 0px;
    width: 60px;
  }
  .header__nav {
    opacity: 0;
    justify-self: flex-end;
  }

  .header__nav_open {
    opacity: 1;
  }

  .header__nav-item_mag {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__hamburger {
    display: block;
  }
}

@media (max-width: 768px) {
  .header {
    height: 76px;
  }
  .header__logo {
    width: 36px;
  }
  .header__nav {
    flex-direction: column;
  }
  .header__nav-item {
    margin-right: 0;
  }
  .header__link {
    display: block;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .header_hide {
    display: none;
  }
}
