@import url(../vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+Pro&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif; */

/* * {
  border: 1px solid red;
} */
html {
  scroll-behavior: smooth;
}

.page {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;
  position: relative;
  min-width: 840px;
}
